h1{
   color: rgb(88, 86, 86);
}

.box{
  float: left;
  height: 200px;
  width: 250px;
  margin: 20px;
  padding: 10px;
  background-color: rgb(80, 63, 192);
  color: white;
}

.container1{
  padding: 30px;
  background-color: rgb(66, 64, 64);
  color: white;
  overflow: hidden;
}

.container2{
  padding: 30px;
  background-color: rgb(209, 207, 196);
  color: white;
  overflow: hidden;
}